<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/shop_database</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass1</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="entity.Admin"/>
        <mapping class="entity.Courier"/>
        <mapping class="entity.Customer"/>
        <mapping class="entity.Option"/>
        <mapping class="entity.Orders"/>
        <mapping class="entity.Product"/>
        <mapping class="entity.ProductOrder"/>
        <mapping class="entity.ReviewProduct"/>
        <mapping class="entity.ReviewShop"/>
        <mapping class="entity.Route"/>
        <mapping class="entity.Shop"/>
        <mapping class="entity.ShopProduct"/>
        <mapping class="entity.User"/>
        <mapping class="entity.UserInfo"/>
    </session-factory>
</hibernate-configuration>