<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product's catalog</title>
    <div th:replace="fragments/head::imports"></div>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container">
    <div class="row">
        <form class="form-inline" style="min-width: 100%" th:action="@{/search}" method="get">
            <input class="form-control" style="min-width: 90%" type="text" id="search" name="name" placeholder="Search">
            <input type="submit" value="Search" class="btn btn-info">
        </form>
    </div>
</div>
<div class="container" th:if="${greetings}" th:text="${greetings}"></div>

<form action="/catalog" method="get">
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <div style="width: 100%">
                    <select class="custom-select custom-select-lg mb-3" th:name="category">
                        <option value="RAM" selected>RAM</option>
                        <option value="HDD">HDD</option>
                        <option value="CPU">CPU</option>
                    </select>
                </div>
                <div style="width: 100%" th:if="${productList} != null">
                    <div style="width: 100%" th:each="option : ${productList.options}">
                        <b th:text="${option.getKey()}">Option Name</b><br>
                        <div th:each="value : ${option.getValue()}">
                            <input type="checkbox" th:name="option" th:value="${value.id}">
                            <span th:text="${value.value}"></span>
                        </div>
                    </div>
                </div>
                <div style="width: 100%" th:if="${productList} != null">
                    Items on page
                    <select class="custom-select custom-select-lg mb-3" th:name="quantity">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <input type="submit" class="bnt-info" value="Search">
            </div>
            <div class="col-sm-9">
                <div class="row" th:if="${productList} != null" th:each="product:${productList.products}">
                    <a th:href="@{/product(id=__${product.id}__)}" class="col-sm-3">
                        <div th:style="'background:url(' + ${product.productImage} + '); background-size: contain; background-repeat: no-repeat; background-position: center; height: 200px;'">
                        </div>
                    </a>
                    <div class="col-sm-7">
                        <p>Product Name: <span th:text="${product.productName}">Product name</span></p>
                        <p th:each="option: ${product.options}">
                            <span th:text="${option.name}">Option name</span> : <span
                                th:text="${option.value}">Option value</span>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            <span th:text="${product.minPrice}">Min price</span> - <span
                                th:text="${product.maxPrice}">Max price</span>
                        </p>
                        <p>
                            <a th:href="@{/productShop(id=__${product.id}__)}">
                                <span th:text="${product.offers}"></span> offers </a>
                        </p>
                        <p>Rating:
                            <span th:text="${product.rating}?'No rating':${#numbers.formatDecimal(product.rating,1,2)}">Rating</span>
                        </p>
                        <a th:href="@{/product(id=__${product.id}__)}">Details</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-md-center"
                     th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.replace(#strings.defaultString(#httpServletRequest.queryString, ''),'&page='+#strings.substringAfter(#strings.defaultString(#httpServletRequest.queryString,''), '&page='),'')})">
                    <div class="col-sm-1"
                         th:if="${productList.pages} &gt 1"
                         th:each="pageN : ${#numbers.sequence(0, productList.pages-1)}">
                        <a class="btn btn-primary btn-lg active" th:href="@{${currentUrl}(page=__${pageN}__)}"
                           th:text="${pageN+1}"></a>
                    </div>
                    <div class="col-sm-1"
                         th:if="${productList.pages} eq 1">
                        <a class="btn btn-primary btn-lg active" th:href="@{${currentUrl}(page=0)}">1</a>
                    </div>
                    <div class="col-sm-12"
                         th:if="${productList.pages} eq 0">
                        Sorry, products are not found.
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--<div th:replace="fragments/footer::footer"></div>-->
</body>
</html>