<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product's catalog</title>
    <div th:replace="fragments/head::imports"></div>
</head>
<body>
<header class="header">
    <span class="container" th:each="category : ${categories}">
        <a th:href="@{/catalog?category=__${category}__}" href="/catalog?category=${category}" th:text="${category}">Category</a>
    </span>
</header>
<div class="container" th:each="product:${products}">
    <div class="row">
        <div class="col-sm-3"
             th:style="'background:url(' + ${product.getImage()} + '); background-size: contain; background-repeat: no-repeat; background-position: center; height: 200px;'">
        </div>
        <div class="col-sm">
            <p th:text="${product.getDescription()}">Product name</p>
            <p th:each="option: ${product.options}">
                <span th:text="${option.name}">Option name</span> : <span th:text="${option.value}">Option value</span>
            </p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>