<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product's creation</title>
    <div th:replace="fragments/head::imports"></div>
</head>
<body>
<form th:action="@{/createProduct.html}" method="post" th:object="${product}">
    <div class="form-group">
        <label for="name">Name:
            <input class="form-control" type="text" id="name" th:field="*{description}">
        </label>
    </div>

    <div class="form-group">
        <select name="category" id="category" th:field="*{category}">
            <option th:each="category : ${categories}"
                    th:value="${category}"
                    th:text="${category.name()}">Category
            </option>
        </select>
    </div>

    <button type="submit" name="addRow">Add option</button>

    <div th:each="option,rowStat : *{options}">
        <div class="form-group">
            <select name="option" id="parameter" th:field="*{options[__${rowStat.index}__].name}">
                <option th:each="parameter : ${parameters}"
                        th:value="${parameter}"
                        th:text="${parameter.toString()}">Parameter
                </option>
            </select>
            <input class="form-control" type="text" th:field="*{options[__${rowStat.index}__].value}">
        </div>
        <button type="submit" name="removeRow" th:value="${rowStat.index}">Remove option</button>
    </div>


    <div class="form-group">
        <label for="url">Image URL:
            <input class="form-control" type="text" id="url" th:field="*{image}">
        </label>
    </div>

    <input class="btn btn-success" type="submit" value="Save product">
</form>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>