<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product's catalog</title>
    <div th:replace="fragments/head::imports"></div>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-3"
             th:style="'background:url(' + ${product.productImage} + '); background-size: contain; background-repeat: no-repeat; background-position: center; height: 200px;'">
        </div>
        <div class="col-sm-9">
            <p th:text="${product.productName}">Product name</p>
            <p th:each="option: ${product.options}">
                <span th:text="${option.name}">Option name</span> : <span th:text="${option.value}">Option value</span>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" th:each="shop : ${product.shops}">
        <a class="col-sm-3" th:href="@{/shop(id=${shop.id})}"
           th:style="'background:url(' + ${shop.shopLogo} + '); background-size: contain; background-repeat: no-repeat; background-position: center;'">
        </a>
        <div class="col-sm-7">
            <p>Shop name: <span th:text="${shop.shopName}">Shop Name</span></p>
            <p>Price: <span th:text="${shop.price}">Price</span></p>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary btn-lg active" th:href="@{/addToCart(productId=__${product.id}__,shopId=__${shop.id}__)}">Add To Cart</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>