<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product's catalog</title>
    <div th:replace="fragments/head::imports"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/registration.html}" method="post" th:object="${customer}">
                <div class="form-group">
                    <label for="customerLogin">Login
                        <input class="form-control" id="customerLogin" type="text" th:field="*{login}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="customerPassword">Password
                        <input class="form-control" id="customerPassword" type="text" th:field="*{password}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="customerName">Name
                        <input class="form-control" id="customerName" type="text" th:field="*{userInfo.name}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="customerSecondName">Second Name
                        <input class="form-control" id="customerSecondName" type="text"
                               th:field="*{userInfo.secondName}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="customerSurname">Surname
                        <input class="form-control" id="customerSurname" type="text" th:field="*{userInfo.surname}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="address">Address
                        <input class="form-control" id="address" type="text" th:field="*{address}">
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="SAVE">
                </div>
            </form>
        </div>

        <div class="col-sm">
            <form th:action="@{/registration.html}" method="post" th:object="${admin}">
                <div class="form-group">
                    <label for="adminLogin">Login
                        <input class="form-control" id="adminLogin" type="text" th:field="*{login}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="adminPassword">Password
                        <input class="form-control" id="adminPassword" type="text" th:field="*{password}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="adminName">Name
                        <input class="form-control" id="adminName" type="text" th:field="*{userInfo.name}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="adminSecondName">Second Name
                        <input class="form-control" id="adminSecondName" type="text" th:field="*{userInfo.secondName}">
                    </label>
                </div>
                <div class="form-group">
                    <label for="adminSurname">Surname
                        <input class="form-control" id="adminSurname" type="text" th:field="*{userInfo.surname}">
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="SAVE">
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>