<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product's catalog</title>
    <div th:replace="fragments/head::imports"></div>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-3"
             th:style="'background:url(' + ${shop.shopLogo} + '); background-size: contain; background-repeat: no-repeat; background-position: center; height: 200px;'">
        </div>
        <div class="col-sm">
            <b style="font: 18px" th:text="${shop.shopName}">Shop Name</b>
            <p>Rating: <span th:text="${shop.rating} == '0.0'?'No rating':${#numbers.formatDecimal(shop.rating,1,2)}">Rating</span>
            </p>
        </div>
    </div>
    <div class="row" th:text="${shop.description}">Description</div>
    <br>
    <br>
    <span>Reviews: </span>
    <span th:if="${#lists.size(shop.reviews)} eq 0"> no reviews yet.</span>
    <div class="row">
        <div style="border: 1px bisque solid; background-color: aliceblue;opacity: 0.5;" class="col-sm-12"
             th:each="review : ${shop.reviews}">
            <p>
                <span th:text="${review.userName}">Name</span> <span
                    th:text="${review.userSecondName}">Second Name</span> on <span th:text="${review.date}"></span>
            </p>
            <p>Rating: <span
                    th:text="${review.rating} == '0.0'?'No rating':${#numbers.formatDecimal(review.rating,1,2)}">Rating</span>
            </p>
            <p th:text="${review.text}"></p>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-md-center" th:if="${not #authorization.expression('isAuthenticated()')}">
        Only authenticated users can leave reviews. Please, login.
    </div>
    <div class="row" th:if="${#authorization.expression('hasAuthority(''CUSTOMER'')')}">
        <form th:action="@{/shop}" method="post" th:object="${reviewShop}" style="min-width: 100%">
            <div class="form-group">
                <label for="text" style="width: 100%">Review text:
                    <textarea class="form-control" id="text" th:field="*{text}"></textarea>
                </label>
                <br>
                <select class="selectpicker" name="option" id="parameter" th:field="*{rating}">
                    <option th:value="${rating}" th:each="rating : ${#numbers.sequence(1,10)}"
                            th:text="${rating}">Rating
                    </option>
                </select>
                <input type="hidden" th:attr="name='shopId'" th:value="${shop.id}">
                <input type="submit" value="Send review">
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>